.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(45deg, var(--sky-blue), var(--tomato-red));
  background: linear-gradient(45deg, var(--sky-blue), var(--tomato-red));
  opacity: 0.8;
  border: 0.5px solid var(--pure-white);
  border-radius: 25%;
}

.face:nth-child(1) {
  transform: rotateX(90deg) translateZ(50px);
  transform-style: preserve-3d; /* Para garantir que o efeito 3D funcione corretamente */
}

.face:nth-child(2) {
  transform: rotateX(-90deg) translateZ(50px);
  transform-style: preserve-3d;
}

.face:nth-child(3) {
  transform: translateZ(50px);
  transform-style: preserve-3d;
}

.face:nth-child(4) {
  transform: rotateY(90deg) translateZ(50px);
  transform-style: preserve-3d;
}

.face:nth-child(5) {
  transform: rotateY(-90deg) translateZ(50px);
  transform-style: preserve-3d;
}

.face:nth-child(6) {
  transform: rotateY(180deg) translateZ(50px);
  transform-style: preserve-3d;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
