:root {
  --white: #ffffff;
  --light-green: #affc41;
  --ocean-green: #4db6ac;
  --light-white: #eae0d5;
  --light-white2: #f1faee;
  --light-white3: #f9f9f9;
  --pure-white: #fff;
  --pure-black: #000;
  --light-blue: #03c9f5;
  --sgbus-green: #70e000;
  --sky-blue: #3498db;
  --tomato-red: #e74c3c;
  --crimson-red: #bb2d3b;
  --cadet-blue: #adb5bd;
  --cultured: #f8f9fa;
  --pure-gray: #808080;
  --midnight-blue: #0c203c;
  --aqua-mist: #9bdaeb;
  --reddish-orange: #d84b00;
  --disable-color: #e9ecef;
  --light-gray: #f2e9e4;
}

@keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff,
      -8px 8px 0 lightgray;
  }
  75%,
  100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray,
      -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}

@-webkit-keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff,
      -8px 8px 0 lightgray;
  }
  75%,
  100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray,
      -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}

#root {
  position: absolute;
}

.mn-h-20 {
  min-height: 20em;
}

.mb-10 {
  margin-bottom: 10em !important;
}

.tooltip-custom {
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}

.tooltip-custom-2 {
  background-color: var(--sky-blue);
  color: white;
  font-weight: bold;
}

.pd-b-3 {
  padding-bottom: 3em !important;
}

.tooltip-custom-2::after {
  content: "";
  position: absolute;
  top: 100%; /*coloca abaixo do tooltip*/
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: var(--sky-blue) transparent transparent transparent;
  border-radius: 1em;
}

.pd-1 {
  padding: 1em;
}

.w-35 {
  width: 35em;
}

.w-top-n-2 {
  margin-top: -2em;
}

.w-2 {
  width: 2em;
}

.w-3 {
  width: 3em;
}

.w-2-5 {
  width: 2.5em;
}

.h-2-5 {
  height: 2.5em !important;
}

.mg-1 {
  margin: 1em;
}

.p-0-6 {
  padding: 0.6em;
}

.DIV1:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bg-pure-white {
  background-color: var(--pure-white);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.mt-16 {
  margin-top: 16em;
}

.p-chat {
  background: #b8babb;
  border-radius: 20px;
  margin-top: 3px;
  padding-left: 1em;
  padding-right: 1em;
}

.bd-rd-1 {
  border-radius: 1em;
}

.bd-none {
  border: none;
}

.hg-2 {
  height: 2em;
}

.wd-35 {
  width: 35em;
}

.h-4 {
  height: 4em !important;
}

.tChat1 {
  background: #48cae4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tChat2 {
  background: #48cae4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.u-chat1 {
  background: #ade8f4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 7%;
}

.u-chat2 {
  background: #ade8f4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  text-align: justify;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 7%;
}

.showDP {
  display: block !important;
}

.upload {
  -webkit-animation: fadeup 0.5s 0.5s ease both;
  animation: fadeup 0.5s 0.5s ease both;
}

.up {
  -webkit-animation: faderight 0.5s 1.5s ease both;
  animation: faderight 0.5s 1.5s ease both;
}
.load {
  -webkit-animation: faderight 1s 1.5s ease both;
  animation: faderight 1s 1.5s ease both;
}

#drop {
  &.hidden {
    display: none;
  }
  &.active {
    border: dashed 2px black !important;
  }
}

#footerFiles {
  &.hasFiles {
    height: auto;
    .divider {
      width: 100%;
      span {
        transform: translateY(0);
        transition: transform 0.5s 0.5s ease;
      }
    }
  }
  .list-files {
    &::-webkit-scrollbar-track {
      background-color: rgba(lightgray, 0.25);
    }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: rgba(lightgray, 0.25);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(black, 0.5);
    }
    .file {
      width: 300px;
      min-height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      -webkit-animation: fade 0.35s ease both;
      animation: fade 0.35s ease both;
      .name {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80px;
        text-align: left;
      }
      .progress {
        width: 175px;
        height: 5px;
        border: solid 1px lightgray;
        border-radius: 2px;
        background: linear-gradient(to left, rgba(black, 0.2), rgba(black, 0.8))
          no-repeat;
        background-size: 100% 100%;
        &.active {
          animation: progress 30s linear;
          -webkit-animation: progress 30s linear;
        }
      }

      .done {
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: black;
        border-radius: 50%;
        margin-left: -10px;
        transform: scale(0);
        position: relative;
        &:before {
          content: "View";
          position: absolute;
          top: 0;
          left: -5px;
          font-size: 24px;
          opacity: 0;
        }
        &:hover:before {
          transition: all 0.25s ease;
          top: -30px;
          opacity: 1;
        }
        &.anim {
          animation: done1 0.5s ease forwards;
          -webkit-animation: 0.5s ease forwards;
          #path {
            animation: done2 2.5s 0.5s ease forwards;
            -webkit-animation: done2 2.5s 0.5s ease forwards;
          }
        }
        #path {
          stroke-dashoffset: 7387.59423828125;
          stroke-dasharray: 7387.59423828125 7387.59423828125;
          stroke: #fff;
          fill: transparent;
          stroke-width: 50px;
        }
      }
    }
  }
  .importar {
    &.active {
      transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    &:hover {
      background: black;
      color: #fff;
    }
  }
}

@keyframes fadeup {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes faderight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done1 {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.25);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

.line-top {
  border-top: solid 4px #46aba1;
}

.dash-card {
  padding: 30px;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.AdjustWid {
  --rdp-cell-size: 30px !important;
}

.cald .rdp-nav {
  display: none;
}

.addBlur {
  filter: blur(3px);
}

.ticket-close {
  border: 5px solid #10451d;
  background-color: forestgreen;
}

.ticket-open-not-view {
  background: #00b4d8;
  border: 6px solid #0077b6;
}

.ticket-open-not-view-list {
  background-color: #00b4d8;
  border-top: 5px solid #0077b6;
  border-bottom: 5px solid #0077b6;
  border-left: 3px solid #0077b6;
  border-right: 3px solid #0077b6;
}

.fontBlack {
  color: black;
}

.ticket-open-in-view {
  background-color: #ddce15;
  border: 6px solid #fff700;
}

.ticket-open-in-view-list {
  background-color: #ddce15;
  border-top: 5px solid #fff700;
  border-bottom: 5px solid #fff700;
  border-left: 3px solid #fff700;
  border-right: 3px solid #fff700;
}

.ticket-stop {
  background-color: #d2d6d9;
  border: 6px solid #c5c5c5;
}

.ticket-stop-list {
  border-top: 5px solid #c5c5c5;
  border-bottom: 5px solid #c5c5c5;
  border-left: 3px solid #c5c5c5;
  border-right: 3px solid #c5c5c5;
  background-color: #d2d6d9;
}

.ticket-close-list {
  border-top: 5px solid #10451d;
  border-bottom: 5px solid #10451d;
  border-left: 3px solid #10451d;
  border-right: 3px solid #10451d;
  background-color: forestgreen;
}

.ticket-urgent {
  background-color: crimson;
  border: 6px solid red;
}

.ticket-urgent-list {
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  border-left: 3px solid red;
  border-right: 3px solid red;
  background-color: crimson;
}

.theme-light {
  background-color: #f9f9f9;
}

.themeLightTicket {
  -webkit-box-shadow: 0px 0px 8px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 9px rgba(0, 0, 0, 0.75);
}

.themeBlack {
  background-color: #201b2c;
}

.colorBlack {
  color: #f1faee;
}

.color-light {
  color: #201b2c;
}

.theme-filter-light {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.theme-card-light {
  -webkit-box-shadow: -1px 13px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 13px 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 13px 10px 3px rgba(0, 0, 0, 0.75);
}

.infinit {
  animation: infinite;
}

.pointer {
  cursor: pointer;
}

.borderEquip {
  border: 2px solid hsl(347, 92%, 64%);
}

.none {
  display: none !important;
}

.upload-files {
  margin: 0 auto;
}

.btn-open {
  animation: gradientAnimation 10s infinite alternate ease-in-out;
}

.btn-all {
  animation: gradientAnimation2 10s infinite alternate ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-color: #ddce15;
    transition: 0.3s;
  }
  30% {
    background-color: #00b4d8;
    transition: 0.3s;
  }
  60% {
    background-color: #ddce15;
    transition: 0.3s;
  }
  100% {
    background-color: #00b4d8;
    transition: 0.3s;
  }
}

@keyframes gradientAnimation2 {
  0% {
    background-color: #ddce15;
    transition: 0.3s;
  }
  30% {
    background-color: #00b4d8;
    transition: 0.3s;
  }
  60% {
    background-color: #d2d6d9;
    transition: 0.3s;
  }
  100% {
    background-color: #228b22;
    transition: 0.3s;
  }
}

@keyframes closeInfo {
  0% {
    width: 0.6em;
  }
  100% {
    width: 100%;
  }
}

.closeInfo {
  transition: 0.2s;
  animation: closeInfo 6s ease-in-out;
}

.u-chat-2D {
  background: #ade8f4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  max-width: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 7%;
}

.u-chat-3D {
  background: #ade8f4;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3px;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.ticket-hover {
  transform: scale(1) !important;
  -webkit-transform: scale(
    1
  ) !important; /* Adicionado para compatibilidade com navegadores baseados em WebKit */
}

.ticket-hover:hover {
  transform: scale(1.1) !important;
  -webkit-transform: scale(
    1.1
  ) !important; /* Adicionado para compatibilidade com navegadores baseados em WebKit */
}

.cla {
  background-color: var(--reddish-orange);
}

.no-border {
  border: none !important;
}

.disabled {
  background-color: var(--disable-color) !important;
  pointer-events: none !important;
  border-radius: 0 !important;
  opacity: 1;
}

.text-chat {
  overflow-y: auto;
  resize: none;
}

.div-chat {
  height: 4em;
}

.transform-y-25 {
  transform: translateY(25%);
}

.mt7 {
  margin-top: 7em;
}

.pointer-auto {
  pointer-events: auto !important;
}
